@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

:root {
    --preto-fundo: #1B1B1B;
    --verde-fundo: #26998B;
    --verde-secundario-fundo: #26993F;
    --azul-fundo: #266999;
    --fonte-cor-branca: #F2F2F2;
    --fonte-cor-preta: #000000;
    --fonte-titulo-telas-p: 30px;
    --fonte-titulo-secundaria-telas-p: 25px;
    --fonte-texto-telas-p: 20px;
    --fonte-texto-secundaria-telas-p: 17px;
    --fonte-titulo-telas-m: 45px;
    --fonte-titulo-secundaria-telas-g: 40px;
    --fonte-texto-telas-g: 25px;
    --fonte-texto-secundaria-telas-g: 22px;
    --fonte-titulo-telas-g: 60px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 350ms ease-in;
}
body {
    font-family: 'Jura', sans-serif;
}
#menu_navegacao{
    background-color: var(--preto-fundo);
}
#logo_texto_nav{
    color: var(--fonte-cor-branca);
}
#botao_hero_row{
    background-color: var(--azul-fundo);
    border: none;
    border-radius: 10px;
    width: 300px;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
#botao_hero_row > a {
    text-decoration: none;
    color: var(--fonte-cor-branca);
}
#servicos_section, #contato_section{
    background: linear-gradient(104deg, var(--verde-secundario-fundo) 0%, var(--verde-fundo) 47.4%, var(--azul-fundo) 100%); 
}
.caixa-servicos{
    color: var(--fonte-cor-branca);
    background-color: var(--preto-fundo);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#contato_section{
    text-align: center;
}
#footer{
    background-color: var(--preto-fundo);
    color: var(--fonte-cor-branca);
}


@media (max-width: 700px) {
    #logo_img_nav, #menu_nav_caixa_estilo, #img_sobre_nos, #horario_funcionamento{
        display: none;
    }
    #logo_texto_nav{
        text-align: center;
        padding: 10px 0;
    }

    #hero_row, #sobre_nos_section{
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #img_hero_row, #botao_hero_row {
        margin-bottom: 30px;
    }
    #img_hero_row{
        width: 100%;
        height: 230px;
        object-fit: cover;
    }
    #hero_row_titulo, #hero_row_paragrafo, #hero_row_social_proof, #hero_row_horario, .titulo_section, .caixa-servicos:nth-of-type(1), #sobre_nos_section, .texto_contato_section, #footer_texto{
        margin-bottom: 25px;
    }
    #hero_row_titulo {
        font-size: var(--fonte-titulo-secundaria-telas-p);
    }
    #hero_row_paragrafo, .caixa_servicos_paragrafo, #sobre_nos_paragrafo{
        line-height: 30px;
    }
    #hero_row_paragrafo{
        font-size: var(--fonte-texto-telas-p);
        font-weight: 500;
    }
    #hero_row_social_proof{
        font-size: var(--fonte-texto-secundaria-telas-p);
        font-style: italic;
    }
    #hero_row_horario{
        font-size: var(--fonte-texto-telas-p);
        text-align: center;
    }
    #botao_hero_row{
        padding: 10px;

    }
    #botao_hero_row > a {
        text-decoration: none;
        color: var(--fonte-cor-branca);
        font-size: var(--fonte-texto-telas-p);
    }

    #servicos_section, #contato_section, #footer{
        padding: 30px 0;
    }
    .titulo_section{
        font-size: var(--fonte-titulo-telas-p);
        font-weight: 700;
        text-align: center;
    }
    .caixa-servicos{
        height: 357px;
        width: 316px;
        margin: 0 auto;
        padding: 0 5%;
    }
    .caixa_servicos_titulo{
        font-size: var(--fonte-titulo-secundaria-telas-p);
        text-align: center;
        font-weight: 600;
    }
    hr {
        width: 80%;
    }
    .caixa_servicos_paragrafo{
        font-size: var(--fonte-texto-telas-p);
    }

    #sobre_nos_titulo{
        margin: 25px 0;
    }
    #sobre_nos_paragrafo{
        font-size: var(--fonte-texto-telas-p);
    }

    .titulo_secunadario{
        font-size: var(--fonte-titulo-secundaria-telas-p);
        font-weight: 600;
        padding-bottom: 5px;
    }
    .texto_contato_section{
        font-size: var(--fonte-texto-telas-p);
    }
    #redes_sociais_caixa_estilo{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .redes_sociais_icones, #logo_footer{
        height: 35px;
        width: 35px;
        margin-top: 5px;
    }

    #footer{
        text-align: center;
    }
    #footer_texto{
        font-size: var(--fonte-titulo-secundaria-telas-p);
    }
}
@media (min-width: 701px) {
    
    #menu_navegacao{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 75px;
        padding: 0 20px;
        word-wrap: none;
    }
    #logo_texto_nav{
        font-size: var(--fonte-titulo-secundaria-telas-p);
    }
    #logo_img_nav{
        display: none;
    }
    #menu_nav_estilo_flex{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }
    .menu_itens{
        font-size: var(--fonte-texto-telas-p);
        text-decoration: none;
        color: var(--fonte-cor-branca);
        margin-right: 30px;
        padding: 5px;
        border-radius: 5px;
    }
    .menu_itens:hover{
        background-color: var(--azul-fundo);
    }
    .menu_itens:nth-of-type(4){
        margin-right: 0;
    }
    #menu_nav_estilo_flex > li {
        list-style: none;
    }

    #img_hero_row {
        display: none;
    }
    #hero_row, #sobre_nos_section{
        margin: 0 20px;
    }
    #hero_row{
        padding: 100px 0;
        text-align: center;
    }
    #hero_row_titulo, #hero_row_paragrafo, #hero_row_social_proof, #hero_row_horario, .titulo_section, .texto_contato_section{
        margin-bottom: 30px;
    }
    #hero_row_titulo{
        font-size: var(--fonte-titulo-secundaria-telas-p);
    }
    #hero_row_paragrafo{
        font-size: var(--fonte-texto-telas-p);
    }
    #hero_row_social_proof{
        font-size: var(--fonte-texto-secundaria-telas-p);
        font-style: italic;
    }
    #hero_row_horario{
        font-size: var(--fonte-texto-telas-p);
    }
    #botao_hero_row{
        font-size: var(--fonte-titulo-secundaria-telas-p);
        height: 50px;
    }

    #servicos_section, #sobre_nos_section, #contato_section, #footer{
        padding: 40px 0;
    }
    .titulo_section{
        font-size: var(--fonte-titulo-telas-m);
        text-align: center;
    }
    #caixa_servicos_flex{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .caixa-servicos{
        width: 316px;
        height: 387px; 
        padding: 0 2%;
    }
    .caixa_servicos_titulo{
        text-align: center;
        font-size: var(--fonte-titulo-secundaria-telas-p);
    }
    hr {
        width: 90%;
    }
    #hero_row_paragrafo, .caixa_servicos_paragrafo, #sobre_nos_paragrafo{
        line-height: 30px;
    }
    .caixa_servicos_paragrafo{
        font-size: var(--fonte-texto-telas-p);
    }

    #sobre_nos_caixa_flex{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #img_sobre_nos{
        width: 340px;
        height: 360px;
        border-radius: 10px;
        object-fit: cover;
    }
    #sobre_nos_paragrafo{
        font-size: var(--fonte-texto-telas-p);
        text-align: justify;
        width: 320px;
    }

    #contato_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .texto_contato_section{
        font-size: var(--fonte-texto-telas-p);
    }
    .redes_sociais_icones, #logo_footer{
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }
    #redes_sociais_caixa_estilo{
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    #logo_footer_caixa_flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    #horario_funcionamento{
        font-size: var(--fonte-titulo-secundaria-telas-p);
        text-align: center;
        font-weight: 600;
    }
}
@media (min-width: 1000px) {
    #menu_navegacao{
        height: 80px;
        padding: 5% 90px;
    }
    #logo_nav_menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30vw;
    }
    #logo_texto_nav{
        font-size: var(--fonte-titulo-secundaria-telas-g);
        margin-left: 25px;
    }
    #logo_img_nav{
        display: inline;
        height: 50px;
        width: 50px;
    }
    .menu_itens{
        font-size: var(--fonte-texto-telas-g);
        margin-right: 35px;
        padding: 10px;
        border-radius: 10px;
        white-space: nowrap;
    }

    #hero_row, #sobre_nos_section{
        margin: 0 100px;
    }
    #hero_row{
        padding: 125px 0;
    }
    #hero_row_titulo{
        font-size: var(--fonte-titulo-secundaria-telas-g);
    }
    #hero_row_paragrafo{
        font-size: var(--fonte-texto-telas-g);
    }
    #hero_row_social_proof{
        font-size: var(--fonte-texto-secundaria-telas-g);
        font-weight: 300;
    }
    #hero_row_horario{
        font-size: var(--fonte-texto-telas-g);
    }
    #botao_hero_row{
        font-size: var(--fonte-titulo-telas-p);
    }

    #servicos_section, #sobre_nos_section, #contato_section, #footer{
        padding: 50px 0;
    }
    .titulo_section{
        font-size: var(--fonte-titulo-telas-g);
    }
    .caixa-servicos{
        width: 472px;
        height: 489px; 
        padding: 0 5%;
        text-align: center;
    }
    .caixa_servicos_titulo{
        text-align: center;
        font-size: var(--fonte-titulo-secundaria-telas-g);
    }
    hr {
        width: 95%;
    }
    .caixa_servicos_paragrafo{
        font-size: var(--fonte-texto-telas-g);
    }

    #sobre_nos_caixa_flex{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #img_sobre_nos{
        width: 470px;
        height: 495px; 
        margin-right: 50px;
    }
    #sobre_nos_paragrafo{
        font-size: var(--fonte-texto-telas-g);
        line-height: 40px;
        width: 500px;
    }

    .texto_contato_section{
        font-size: var(--fonte-texto-telas-g);
    }
    .redes_sociais_icones, #logo_footer{
        height: 45px;
        width: 45px;
        margin-top: 15px;
    }
    #redes_sociais_caixa_estilo{
        width: 45vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 125px;
        padding-right: 125px;
    }

    #horario_funcionamento{
        font-size: var(--fonte-titulo-secundaria-telas-p);
        text-align: center;
        font-weight: 600;
    }
}